@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop,
        $abbrev in (margin: m, padding: p) {

            @each $size,
            $value in $pixel-sizes {
                .#{$abbrev}#{$infix}-#{$size} {
                    #{$prop}: #{$value} !important;
                }

                .#{$abbrev}t#{$infix}-#{$size},
                .#{$abbrev}y#{$infix}-#{$size} {
                    #{$prop}-top: #{$value} !important;
                }

                .#{$abbrev}r#{$infix}-#{$size},
                .#{$abbrev}x#{$infix}-#{$size} {
                    #{$prop}-right: #{$value} !important;
                }

                .#{$abbrev}b#{$infix}-#{$size},
                .#{$abbrev}y#{$infix}-#{$size} {
                    #{$prop}-bottom: #{$value} !important;
                }

                .#{$abbrev}l#{$infix}-#{$size},
                .#{$abbrev}x#{$infix}-#{$size} {
                    #{$prop}-left: #{$value} !important;
                }
            }

            @if ($abbrev)==m {
                .#{$abbrev}#{$infix}-auto {
                    margin: auto !important;
                }

                .#{$abbrev}t#{$infix}-auto,
                .#{$abbrev}y#{$infix}-auto {
                    margin: auto !important;
                }

                .#{$abbrev}r#{$infix}-auto,
                .#{$abbrev}x#{$infix}-auto {
                    margin: auto !important;
                }

                .#{$abbrev}b#{$infix}-auto,
                .#{$abbrev}y#{$infix}-auto {
                    margin: auto !important;
                }

                .#{$abbrev}l#{$infix}-auto,
                .#{$abbrev}x#{$infix}-auto {
                    margin: auto !important;
                }
            }

            // inherit

            .#{$abbrev}#{$infix}-inherit {
                #{$prop}: inherit !important;
            }

            .#{$abbrev}t#{$infix}-inherit,
            .#{$abbrev}y#{$infix}-inherit {
                #{$prop}-top: inherit !important;
            }

            .#{$abbrev}r#{$infix}-inherit,
            .#{$abbrev}x#{$infix}-inherit {
                #{$prop}-right: inherit !important;
            }

            .#{$abbrev}b#{$infix}-inherit,
            .#{$abbrev}y#{$infix}-inherit {
                #{$prop}-bottom: inherit !important;
            }

            .#{$abbrev}l#{$infix}-inherit,
            .#{$abbrev}x#{$infix}-inherit {
                #{$prop}-left: inherit !important;
            }
        }
    }
}
